IF EXISTS (SELECT * FROM sys.objects 
                WHERE object_id = OBJECT_ID(N'[dbo].[SP_GET_ARTICULO]') 
                  AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE SP_GET_ARTICULO
END
GO
-- SP_GET_ARTICULO @ID_FAMILIA = 1, @ACTIVO = 1, @ID_IDIOMA = 1, @ID_USUARIO = 1
CREATE PROCEDURE SP_GET_ARTICULO (
	@ID_FAMILIA INT,
	@ACTIVO BIT,
	@ID_IDIOMA TINYINT,
	@ID_USUARIO INT
)
	 
AS
-- OBTIENE EL CATALOGO DE LAS ARTICULOS EN EL IDIOMA INDICADO
BEGIN
	DECLARE @CVE_CULTURE NVARCHAR(5)
	SELECT @CVE_CULTURE = DBO.FNC_OBTEN_CULTURA(@ID_USUARIO)

	SET NOCOUNT ON;
	    
	SELECT A.ID_ARTICULO, A.CVE_FABRICANTE, FORMAT(A.PRECIO, 'C', @CVE_CULTURE) AS PRECIO, A.DESCRIPCION, A.DESCRIPCION_DETALLADA, ISNULL(A.NOMBRE_ARCHIVO_IMG, '') AS NOMBRE_ARCHIVO_IMG, 
		CASE WHEN A.NOMBRE_ARCHIVO_IMG IS NULL THEN 0 ELSE 1 END AS TIENE_IMG , E.DESC_ACTIVO, F.NOMBRE_FAMILIA, A.ACTIVO, A.ID_FAMILIA
	FROM VW_ARTICULO A
		INNER JOIN VW_ESTATUS_ACTIVO  E ON A.ACTIVO = E.ACTIVO AND E.ID_IDIOMA = @ID_IDIOMA
		INNER JOIN VW_FAMILIA F ON A.ID_FAMILIA = F.ID_FAMILIA AND F.ID_IDIOMA = @ID_IDIOMA
	WHERE A.ID_FAMILIA = @ID_FAMILIA AND A.ACTIVO = @ACTIVO AND A.ID_IDIOMA = @ID_IDIOMA	
	--SELECT * FROM VW_FAMILIA
END

