IF EXISTS (SELECT * FROM sys.objects 
                WHERE object_id = OBJECT_ID(N'[dbo].[SP_GET_CAJA_APERTURA]') 
                  AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE SP_GET_CAJA_APERTURA
END
GO
-- SP_GET_CAJA_APERTURA @ID_FAMILIA = 1, @ACTIVO = 1, @ID_IDIOMA = 1
CREATE PROCEDURE SP_GET_CAJA_APERTURA (
	@ID_USUARIO INT,
	@FECHA NVARCHAR(10),
	@ID_IDIOMA TINYINT
)
	 
AS
-- OBTIENE EL CATALOGO DE LAS ARTICULOS EN EL IDIOMA INDICADO
BEGIN
	DECLARE @FECHA_CONSULTA NVARCHAR(10)
	DECLARE @CVE_CULTURE NVARCHAR(5)

	SET NOCOUNT ON;

	-- PRIMERAMENTE OBTENEMOS LA CULTURA PARA EL FORMATEO DE FECHAS Y MONEDAS
	SELECT @CVE_CULTURE = DBO.FNC_OBTEN_CULTURA(@ID_USUARIO)

	SET @FECHA_CONSULTA = DBO.FNC_FECHA_FORMATO(@FECHA)
		    
	SELECT ID_CAJA, NUM_CAJA, FECHA_HORA_INICIO, FORMAT(FECHA_HORA_FIN, 'd', @CVE_CULTURE ) AS FECHA_HORA_FIN, 
		EFECTIVO_INICIAL, DESC_ESTATUS_CAJA, C.ID_COMUNIDAD, DESC_COMUNIDAD, C.ID_USUARIO	
	FROM VW_CAJAS_APERTURA C 		
	WHERE C.ID_USUARIO =  @ID_USUARIO AND FECHA_HORA_INICIO BETWEEN   @FECHA_CONSULTA + ' 00:00' AND @FECHA_CONSULTA + ' 23:59:59'
		AND C.ID_IDIOMA = @ID_IDIOMA AND C.ID_COMUNIDAD  IN (
				SELECT ID_COMUNIDAD FROM SUSUARIO WHERE ID_USUARIO = @ID_USUARIO 
				UNION 
				SELECT ID_COMUNIDAD FROM RUSUARIO_COMUNIDAD WHERE ID_USUARIO = @ID_USUARIO
				)
	
	--SELECT CONVERT(NVARCHAR, GETDATE(), 103)

END
