IF EXISTS (SELECT * FROM sys.objects 
                WHERE object_id = OBJECT_ID(N'[dbo].[SP_GET_CONSIGNATARIO]') 
                  AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE SP_GET_CONSIGNATARIO
END
GO
-- SP_GET_CONSIGNATARIO @ID_USUARIO = 1, @ID_IDIOMA_LOGIN = 1
CREATE PROCEDURE SP_GET_CONSIGNATARIO (
	@ID_USUARIO INT,
	@ID_IDIOMA_LOGIN INT
)
	 
AS
-- OBTIENE EL CATALOGO DE LAS ARTICULOS EN EL IDIOMA INDICADO
BEGIN

	SET NOCOUNT ON;
	    
	SELECT C.ID_CONSIGNATARIO, C.NOMBRE_COMPLETO, C.ID_COMUNIDAD, C.DESC_COMUNIDAD, C.DESC_ACTIVO, C.ACTIVO
	FROM VW_CONSIGNATARIO C 
		INNER JOIN RUSUARIO_COMUNIDAD U ON C.ID_COMUNIDAD = U.ID_COMUNIDAD
	WHERE U.ID_USUARIO = @ID_USUARIO AND C.ACTIVO = 1 AND C.ID_IDIOMA = @ID_IDIOMA_LOGIN
	
END

