IF EXISTS (SELECT * FROM sys.objects 
                WHERE object_id = OBJECT_ID(N'[dbo].[SP_GET_FAMILIA]') 
                  AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE SP_GET_FAMILIA
END
GO
-- SP_GET_FAMILIA 1
CREATE PROCEDURE SP_GET_FAMILIA (
	@ID_IDIOMA TINYINT
)
	 
AS
-- OBTIENE EL CATALOGO DE LAS FAMILIAS EN EL IDIOMA INDICADO
BEGIN

	SET NOCOUNT ON;
	    
	SELECT F.ID_FAMILIA, F.NOMBRE_FAMILIA, ISNULL(F.NOMBRE_ARCHIVO_IMG, '') AS NOMBRE_ARCHIVO_IMG, CASE WHEN F.NOMBRE_ARCHIVO_IMG IS NULL THEN 0 ELSE 1 END AS TIENE_IMG , E.DESC_ACTIVO
	FROM VW_FAMILIA F
		INNER JOIN VW_ESTATUS_ACTIVO  E ON F.ACTIVO = E.ACTIVO AND E.ID_IDIOMA = @ID_IDIOMA
	WHERE F.ID_IDIOMA = @ID_IDIOMA
	
	
END

