IF EXISTS (SELECT * FROM sys.objects 
                WHERE object_id = OBJECT_ID(N'[dbo].[SP_GET_SALDO_COMUNIDADES_POR_PERIODO]') 
                  AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE SP_GET_SALDO_COMUNIDADES_POR_PERIODO
END
GO
-- EXEC SP_GET_SALDO_COMUNIDADES_POR_PERIODO 2, 2018, 0, 1, 2, 1
--SELECT * from DSALDOS S INNER JOIN CCUENTA_BANCARIA CB ON S.ID_CUENTA_BANCARIA = CB.ID_CUENTA_BANCARIA
CREATE PROCEDURE SP_GET_SALDO_COMUNIDADES_POR_PERIODO (	
	@ID_COMUNIDAD SMALLINT,
	@ANIO SMALLINT,
	@MES TINYINT,
	@ID_MONEDA SMALLINT,
	@ID_IDIOMA TINYINT,
	@ID_USUARIO SMALLINT
)
	  
AS
-- OBTIENE LOS SALDOS DE LAS CUENTAS DE LAS COMUNIDADES PARA EL PERIDO Y MONEDA INDICADOS
BEGIN

	SET NOCOUNT ON;	

	DECLARE @REGs INT	
	DECLARE @CVE_CULTURE NVARCHAR(5)

	-- PRIMERAMENTE OBTENEMOS LA CULTURA PARA EL FORMATEO DE FECHAS Y MONEDAS
	SELECT @CVE_CULTURE = DBO.FNC_OBTEN_CULTURA(@ID_USUARIO)		

	SELECT S.ANIO,  ME.DESC_MES, CO.DESC_COMUNIDAD, BA.DESC_BANCO, CB.NUMERO_CUENTA, MO.SIGLAS, S.SALDO_FINAL
		INTO #SALDOS
	FROM DSALDOS S 
		INNER JOIN CCUENTA_BANCARIA CB ON S.ID_CUENTA_BANCARIA = CB.ID_CUENTA_BANCARIA
		INNER JOIN CCOMUNIDAD CO ON CB.ID_COMUNIDAD = CO.ID_COMUNIDAD
		INNER JOIN CBANCO BA ON CB.ID_BANCO = BA.ID_BANCO
		INNER JOIN VW_MONEDA MO ON CB.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
		INNER JOIN VW_MES ME ON S.ID_MES = ME.ID_MES AND ME.ID_IDIOMA = @ID_IDIOMA
	WHERE CO.ID_COMUNIDAD IS NULL

	PRINT '@MES: ' + CAST(@MES AS NVARCHAR)
	PRINT '@ID_MONEDA: ' + CAST(@ID_MONEDA AS NVARCHAR)

	-- EJECUTAMOS LA CONSULTA
	IF @ID_COMUNIDAD > 0
	BEGIN
		-- DETALLE DE SALDOS POR CUENTA PARA LA COMUNIDAD Y PERIODO INDICADAS

		--NO TENEMOS MES NI MONEDA
		IF @MES = 0 AND @ID_MONEDA = 0
		BEGIN
			INSERT INTO #SALDOS
			SELECT S.ANIO,  ME.DESC_MES, CO.DESC_COMUNIDAD, BA.DESC_BANCO, CB.NUMERO_CUENTA, MO.SIGLAS, S.SALDO_FINAL			
			FROM DSALDOS S 
				INNER JOIN CCUENTA_BANCARIA CB ON S.ID_CUENTA_BANCARIA = CB.ID_CUENTA_BANCARIA
				INNER JOIN CCOMUNIDAD CO ON CB.ID_COMUNIDAD = CO.ID_COMUNIDAD
				INNER JOIN CBANCO BA ON CB.ID_BANCO = BA.ID_BANCO
				INNER JOIN VW_MONEDA MO ON CB.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
				INNER JOIN VW_MES ME ON S.ID_MES = ME.ID_MES AND ME.ID_IDIOMA = @ID_IDIOMA
			WHERE CO.ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO
			SET @REGs = @@ROWCOUNT
			PRINT '@REGs : ' + CAST (@REGs AS NVARCHAR)			
		END
		-- SOLO MONEDA		
		IF @MES = 0 AND @ID_MONEDA > 0
		BEGIN		
			INSERT INTO #SALDOS
			SELECT S.ANIO,  ME.DESC_MES, CO.DESC_COMUNIDAD, BA.DESC_BANCO, CB.NUMERO_CUENTA, MO.SIGLAS, S.SALDO_FINAL			
			FROM DSALDOS S 
				INNER JOIN CCUENTA_BANCARIA CB ON S.ID_CUENTA_BANCARIA = CB.ID_CUENTA_BANCARIA
				INNER JOIN CCOMUNIDAD CO ON CB.ID_COMUNIDAD = CO.ID_COMUNIDAD
				INNER JOIN CBANCO BA ON CB.ID_BANCO = BA.ID_BANCO
				INNER JOIN VW_MONEDA MO ON CB.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
				INNER JOIN VW_MES ME ON S.ID_MES = ME.ID_MES AND ME.ID_IDIOMA = @ID_IDIOMA
			WHERE CO.ID_COMUNIDAD = 2 AND ANIO = 2018 AND CB.ID_MONEDA = 1			
			SET @REGs = @@ROWCOUNT
			PRINT '@REGs : ' + CAST (@REGs AS NVARCHAR)			
		END
		-- SOLO MES
		IF @MES > 0 AND @ID_MONEDA = 0
		BEGIN
			INSERT INTO #SALDOS
			SELECT S.ANIO,  ME.DESC_MES, CO.DESC_COMUNIDAD, BA.DESC_BANCO, CB.NUMERO_CUENTA, MO.SIGLAS, S.SALDO_FINAL			
			FROM DSALDOS S 
				INNER JOIN CCUENTA_BANCARIA CB ON S.ID_CUENTA_BANCARIA = CB.ID_CUENTA_BANCARIA
				INNER JOIN CCOMUNIDAD CO ON CB.ID_COMUNIDAD = CO.ID_COMUNIDAD
				INNER JOIN CBANCO BA ON CB.ID_BANCO = BA.ID_BANCO
				INNER JOIN VW_MONEDA MO ON CB.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
				INNER JOIN VW_MES ME ON S.ID_MES = ME.ID_MES AND ME.ID_IDIOMA = @ID_IDIOMA
			WHERE CO.ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO AND S.ID_MES = @MES 
			SET @REGs = @@ROWCOUNT
			PRINT '@REGs : ' + CAST (@REGs AS NVARCHAR)			
		END
		-- AMBOS
		IF @MES > 0 AND @ID_MONEDA > 0
		BEGIN
			INSERT INTO #SALDOS
			SELECT S.ANIO,  ME.DESC_MES, CO.DESC_COMUNIDAD, BA.DESC_BANCO, CB.NUMERO_CUENTA, MO.SIGLAS, S.SALDO_FINAL			
			FROM DSALDOS S 
				INNER JOIN CCUENTA_BANCARIA CB ON S.ID_CUENTA_BANCARIA = CB.ID_CUENTA_BANCARIA
				INNER JOIN CCOMUNIDAD CO ON CB.ID_COMUNIDAD = CO.ID_COMUNIDAD
				INNER JOIN CBANCO BA ON CB.ID_BANCO = BA.ID_BANCO
				INNER JOIN VW_MONEDA MO ON CB.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
				INNER JOIN VW_MES ME ON S.ID_MES = ME.ID_MES AND ME.ID_IDIOMA = @ID_IDIOMA
			WHERE CO.ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO AND S.ID_MES = @MES AND CB.ID_MONEDA = @ID_MONEDA			
			SET @REGs = @@ROWCOUNT
			PRINT '@REGs : ' + CAST (@REGs AS NVARCHAR)
		END
	END
	ELSE
	BEGIN
		--NO TENEMOS MES NI MONEDA
		IF @MES = 0 AND @ID_MONEDA = 0
		BEGIN
			INSERT INTO #SALDOS
			SELECT S.ANIO, ME.DESC_MES, CO.DESC_COMUNIDAD, BA.DESC_BANCO, CB.NUMERO_CUENTA, MO.SIGLAS, S.SALDO_FINAL			
			FROM DSALDOS S 
				INNER JOIN CCUENTA_BANCARIA CB ON S.ID_CUENTA_BANCARIA = CB.ID_CUENTA_BANCARIA
				INNER JOIN CCOMUNIDAD CO ON CB.ID_COMUNIDAD = CO.ID_COMUNIDAD
				INNER JOIN CBANCO BA ON CB.ID_BANCO = BA.ID_BANCO
				INNER JOIN VW_MONEDA MO ON CB.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
				INNER JOIN VW_MES ME ON S.ID_MES = ME.ID_MES AND ME.ID_IDIOMA = @ID_IDIOMA
			WHERE ANIO = @ANIO 
			SET @REGs = @@ROWCOUNT
			PRINT '@REGs : ' + CAST (@REGs AS NVARCHAR)			
		END
		-- SOLO MONEDA
		IF @MES = 0 AND @ID_MONEDA > 0
		BEGIN
			INSERT INTO #SALDOS
			SELECT S.ANIO, ME.DESC_MES, CO.DESC_COMUNIDAD, BA.DESC_BANCO, CB.NUMERO_CUENTA, MO.SIGLAS, S.SALDO_FINAL			
			FROM DSALDOS S 
				INNER JOIN CCUENTA_BANCARIA CB ON S.ID_CUENTA_BANCARIA = CB.ID_CUENTA_BANCARIA
				INNER JOIN CCOMUNIDAD CO ON CB.ID_COMUNIDAD = CO.ID_COMUNIDAD
				INNER JOIN CBANCO BA ON CB.ID_BANCO = BA.ID_BANCO
				INNER JOIN VW_MONEDA MO ON CB.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
				INNER JOIN VW_MES ME ON S.ID_MES = ME.ID_MES AND ME.ID_IDIOMA = @ID_IDIOMA
			WHERE ANIO = @ANIO AND CB.ID_MONEDA = @ID_MONEDA
			SET @REGs = @@ROWCOUNT
			PRINT '@REGs : ' + CAST (@REGs AS NVARCHAR)			
		END
		-- SOLO MES
		IF @MES > 0 AND @ID_MONEDA = 0
		BEGIN
			INSERT INTO #SALDOS
			SELECT S.ANIO, ME.DESC_MES, CO.DESC_COMUNIDAD, BA.DESC_BANCO, CB.NUMERO_CUENTA, MO.SIGLAS, S.SALDO_FINAL			
			FROM DSALDOS S 
				INNER JOIN CCUENTA_BANCARIA CB ON S.ID_CUENTA_BANCARIA = CB.ID_CUENTA_BANCARIA
				INNER JOIN CCOMUNIDAD CO ON CB.ID_COMUNIDAD = CO.ID_COMUNIDAD
				INNER JOIN CBANCO BA ON CB.ID_BANCO = BA.ID_BANCO
				INNER JOIN VW_MONEDA MO ON CB.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
				INNER JOIN VW_MES ME ON S.ID_MES = ME.ID_MES AND ME.ID_IDIOMA = @ID_IDIOMA
			WHERE ANIO = @ANIO AND S.ID_MES = @MES
			SET @REGs = @@ROWCOUNT
			PRINT '@REGs : ' + CAST (@REGs AS NVARCHAR)			
		END
		-- AMBOS
		IF @MES > 0 AND @ID_MONEDA > 0
		BEGIN
			INSERT INTO #SALDOS
			SELECT S.ANIO, ME.DESC_MES, CO.DESC_COMUNIDAD, BA.DESC_BANCO, CB.NUMERO_CUENTA, MO.SIGLAS, S.SALDO_FINAL			
			FROM DSALDOS S 
				INNER JOIN CCUENTA_BANCARIA CB ON S.ID_CUENTA_BANCARIA = CB.ID_CUENTA_BANCARIA
				INNER JOIN CCOMUNIDAD CO ON CB.ID_COMUNIDAD = CO.ID_COMUNIDAD
				INNER JOIN CBANCO BA ON CB.ID_BANCO = BA.ID_BANCO
				INNER JOIN VW_MONEDA MO ON CB.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
				INNER JOIN VW_MES ME ON S.ID_MES = ME.ID_MES AND ME.ID_IDIOMA = @ID_IDIOMA
			WHERE ANIO = @ANIO AND S.ID_MES = @MES AND CB.ID_MONEDA = @ID_MONEDA
			SET @REGs = @@ROWCOUNT
			PRINT '@REGs : ' + CAST (@REGs AS NVARCHAR)			
		END
	END

	
	--SET @REGs = @@ROWCOUNT
	PRINT '@REGs FINAL: ' + CAST (@REGs AS NVARCHAR)

	IF @REGs > 0
	BEGIN
		-- RESULSET (0) ENCABEZADO
		SELECT DBO.FNC_OBTEN_VALOR_PARAMETRO(2) AS RPT_CABECERA,
			 DBO.FNC_OBTEN_DESC_ETIQUETA_POR_CVE (@ID_IDIOMA, 160200 ,  'titRpt') AS RPT_TITULO,
			 DBO.FNC_OBTEN_FECHA_ACTUAL_TEXTO(@ID_IDIOMA, 1) AS RPT_FECHA_ACTUAL

		--RESULSET (1) ETIQUETAS DE LAS COLUMNAS
		SELECT CVE_ETIQUETA, DESCRIPCION 
		FROM VW_ETIQUETA
		WHERE ID_IDIOMA = @ID_IDIOMA 
			AND ID_MODULO = 160200 
			AND CVE_ETIQUETA LIKE 'col%'

		--RESULSET (2) CUERPO REPORTE		
		SELECT ANIO, DESC_MES, DESC_COMUNIDAD, DESC_BANCO, NUMERO_CUENTA, SIGLAS, FORMAT(SALDO_FINAL, 'C', @CVE_CULTURE) AS SALDO_FINAL
		FROM #SALDOS		

	END
	ELSE
	BEGIN
		PRINT 'NO HAY DATOS'
		SELECT DESC_MENSAJE , CVE_TIPO_MSG 
		FROM VW_MENSAJES 
		WHERE ID_IDIOMA = @ID_IDIOMA AND ID_MENSAJE = -3
	END

END
