IF EXISTS (SELECT * FROM sys.objects 
                WHERE object_id = OBJECT_ID(N'[dbo].[SP_RPT_MENSUAL_RESULTADO]') 
                  AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE SP_RPT_MENSUAL_RESULTADO
END
GO


-- SP_RPT_MENSUAL_RESULTADO 82, 'E', 1, 2019, 2, 2, 125
CREATE PROCEDURE SP_RPT_MENSUAL_RESULTADO (
	@ID_COMUNIDAD SMALLINT,	
	@CVE_TIPO_MOVIMIENTO NVARCHAR(1),
	@ID_MONEDA SMALLINT,
	@ANIO SMALLINT,
	@ID_MES TINYINT,
	@ID_IDIOMA TINYINT,
	@ID_USUARIO SMALLINT
)
--SELECT * FROM DMOVIMIENTO	 
AS
-- OBTIENE EL REPORTE DE FLUJO MENSUAL
BEGIN

	SET NOCOUNT ON;
	DECLARE @REGs_I INT, @REGs_E INT, @REGS_SDOs INT	
	DECLARE @IMPT_SALDO_BANCOS MONEY, @IMPT_ENTRADAS MONEY, @IMPT_SALIDAS MONEY
	DECLARE @CVE_CULTURE NVARCHAR(5)
	DECLARE @ID_TIPO_CUENTA_EFECTIVO SMALLINT
	DECLARE @ANIO_ANT SMALLINT, @ID_MES_ANT TINYINT
	DECLARE @IMPT_SALDO_ACTUAL_CUENTAS MONEY
	DECLARE @IMPT_DIFERENCIA MONEY
	DECLARE @ID_PAIS SMALLINT

	--OBTENEMOS EL PAIS PARA VER QUÉ CULTURA LE PONEMOS
	SELECT @ID_PAIS = DBO.FNC_OBTEN_ID_PAIS_POR_USUARIO(@ID_USUARIO)
	PRINT '@ID_PAIS : ' + CAST (@ID_PAIS AS NVARCHAR)

	-- SE OBTIENE EL ID PARAMETRIZADO COMO EL TIPO DE CUENTA PARA MANEJO DE EFECTIVO
	SELECT @ID_TIPO_CUENTA_EFECTIVO = CAST (VALOR_PARAMETRO AS SMALLINT ) FROM SPARAMETRO WHERE ID_PARAMETRO = 4

	-- PRIMERAMENTE OBTENEMOS LA CULTURA PARA EL FORMATEO DE FECHAS Y MONEDAS
	SELECT @CVE_CULTURE = DBO.FNC_OBTEN_CULTURA(@ID_USUARIO)

	

	-- OBTENEMOS EL PERIODO ANTERIOR PARA OBTENER SUS SALDOS EN CUENTAS
	SELECT @ANIO_ANT = ANIO_ANT, @ID_MES_ANT = ID_MES_ANT FROM DBO.FNC_OBTEN_PERIODO_ANTERIOR(@ANIO, @ID_MES)
	PRINT '@ANIO_ANT : ' + CAST (@ANIO_ANT AS NVARCHAR)
	PRINT '@ID_MES_ANT : ' + CAST (@ID_MES_ANT AS NVARCHAR)

	-- SALDOS DE LA CUENTAS DE ESTA COMUNIDAD
	SELECT C.ID_CUENTA_BANCARIA, C.ID_COMUNIDAD, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) AS CUENTA, SALDO_FINAL AS IMPT_SALDO, C.ID_TIPO_CUENTA
		INTO #SALDOS
	FROM DSALDOS S 			
		LEFT JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
		INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
		INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
		INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
		INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
		INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
	WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO_ANT AND P.ID_MES = @ID_MES_ANT AND C.ID_MONEDA = @ID_MONEDA
	SET @REGS_SDOs = @@ROWCOUNT
		
	-- DATOS PRINCIPALES EN UNA TABLA TEMPORAL
	-- ENTRADAS
	SELECT DESC_RUBRO, SUM(IMPORTE) AS IMPORTE
		INTO #ENTRADAS
	FROM VW_MOVIMIENTOS			
	WHERE  ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO AND MES = @ID_MES  AND CVE_TIPO_RUBRO = 'I' AND CVE_TIPO_MOVIMIENTO= @CVE_TIPO_MOVIMIENTO AND ID_MONEDA = @ID_MONEDA
		AND ACTIVO = 1 AND ID_IDIOMA = @ID_IDIOMA
	GROUP BY DESC_RUBRO
	SET @REGs_I = @@ROWCOUNT

	--SALIDAS
	SELECT DESC_RUBRO, SUM(IMPORTE) AS IMPORTE
		INTO #SALIDAS
	FROM VW_MOVIMIENTOS			
	WHERE  ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO AND MES = @ID_MES  AND CVE_TIPO_RUBRO = 'E' AND CVE_TIPO_MOVIMIENTO = @CVE_TIPO_MOVIMIENTO AND ID_MONEDA = @ID_MONEDA
		AND ACTIVO = 1 AND ID_IDIOMA = @ID_IDIOMA
	GROUP BY DESC_RUBRO
	SET @REGs_E = @@ROWCOUNT

	PRINT '@REGs_E : ' + CAST (@REGs_E AS NVARCHAR)
	PRINT '@REGs_I : ' + CAST (@REGs_I AS NVARCHAR)
	PRINT '@REGS_SDOs : ' + CAST (@REGS_SDOs AS NVARCHAR)

	IF @REGs_E > 0 OR @REGs_I > 0 OR @REGS_SDOs > 0
	BEGIN
		-- DATOS CABECERA (RESULSET 0)
		SELECT (SELECT DESC_COMUNIDAD FROM CCOMUNIDAD WHERE ID_COMUNIDAD = @ID_COMUNIDAD) AS DESC_COMUNIDAD,
			(SELECT SIGLAS FROM VW_MONEDA WHERE ID_MONEDA = @ID_MONEDA AND ID_IDIOMA = @ID_IDIOMA) AS DESC_MONEDA,			
			DBO.FNC_OBTEN_FECHA_ACTUAL_TEXTO(@ID_IDIOMA, 1) AS FECHA_ACTUAL,
			
			(SELECT DESC_MES + ' ' + CAST(@ANIO AS NVARCHAR) FROM VW_MES WHERE ID_IDIOMA = @ID_IDIOMA AND ID_MES = @ID_MES) AS ANIO
			,

			dbo.FNC_OBTEN_DESC_ETIQUETA_POR_CVE(@ID_IDIOMA, 130100, 'titReporte') AS TITULO_REPORTE

		-- ETIQUETAS  (RESULSET 1)
		SELECT CVE_ETIQUETA, DESCRIPCION 
		FROM VW_ETIQUETA
		WHERE ID_IDIOMA = @ID_IDIOMA 
			AND ID_MODULO = 130100 
			AND CVE_ETIQUETA LIKE 'lblRpt%'

		-- DATOS PRINCIPALES:
		--BANCOS (RESULSET 2)
			
		IF @CVE_TIPO_MOVIMIENTO = 'E'
		BEGIN
			-- SI EL TIPO DE MOVIMIENTO ES EFECTICO, ENTONCES SOLO MOSTRAMOS LAS CUENTAS QUE SEAN DE TIPO EFECTIVO			
			SELECT D.CUENTA, D.SALDOS
			FROM (
				SELECT CB.CUENTA, ISNULL(SALDOS , FORMAT(0.00, 'C', @CVE_CULTURE)) SALDOS, CB.ID_TIPO_CUENTA, CB.ID_MONEDA
				FROM (
					SELECT CB.ID_COMUNIDAD, CB.ID_CUENTA_BANCARIA, B.DESC_BANCO + ' - ' + RIGHT(CB.NUMERO_CUENTA,4) CUENTA, ID_TIPO_CUENTA, CB.ID_MONEDA
					FROM CCUENTA_BANCARIA CB INNER JOIN CBANCO B ON CB.ID_BANCO = B.ID_BANCO
					WHERE ID_COMUNIDAD = @ID_COMUNIDAD
					) CB
				LEFT JOIN (
					SELECT ID_CUENTA_BANCARIA, ID_COMUNIDAD, CUENTA, FORMAT(IMPT_SALDO, 'C', @CVE_CULTURE) SALDOS, ID_TIPO_CUENTA
					FROM #SALDOS
					WHERE ID_TIPO_CUENTA = @ID_TIPO_CUENTA_EFECTIVO				
					) D ON CB.ID_CUENTA_BANCARIA = D.ID_CUENTA_BANCARIA AND CB.ID_COMUNIDAD = D.ID_COMUNIDAD 
				) D
			WHERE D.ID_TIPO_CUENTA = @ID_TIPO_CUENTA_EFECTIVO	AND ID_MONEDA = @ID_MONEDA


			-- TOTAL BANCOS PERIODO ANTERIOR (RESULSET 3)
			SELECT @IMPT_SALDO_BANCOS = SUM(IMPT_SALDO)
			FROM #SALDOS
			WHERE ID_TIPO_CUENTA = @ID_TIPO_CUENTA_EFECTIVO
			
			SELECT FORMAT(ISNULL(@IMPT_SALDO_BANCOS, 0.00), 'C', @CVE_CULTURE ) AS IMPT_SALDO_BANCOS
			 
			-- SALDO EN CUENTAS PARA EL PERIODO ACTUAL
			SELECT @IMPT_SALDO_ACTUAL_CUENTAS = ISNULL(SUM(SALDO_FINAL)	,0)
			FROM DSALDOS S 			
				INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
				INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
				INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES
				INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
				INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
				INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
			WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO AND P.ID_MES = @ID_MES AND C.ID_MONEDA = @ID_MONEDA
				AND ID_TIPO_CUENTA = @ID_TIPO_CUENTA_EFECTIVO	AND C.ID_MONEDA = @ID_MONEDA

		END
		ELSE
		BEGIN			

			SELECT D.CUENTA, D.SALDOS
			FROM (
				SELECT CB.CUENTA, ISNULL(SALDOS , FORMAT(0.00, 'C', @CVE_CULTURE)) SALDOS, CB.ID_TIPO_CUENTA, CB.ID_MONEDA
				FROM (
					SELECT CB.ID_COMUNIDAD, CB.ID_CUENTA_BANCARIA, B.DESC_BANCO + ' - ' + RIGHT(CB.NUMERO_CUENTA,4) CUENTA, ID_TIPO_CUENTA, CB.ID_MONEDA
					FROM CCUENTA_BANCARIA CB INNER JOIN CBANCO B ON CB.ID_BANCO = B.ID_BANCO
					WHERE ID_COMUNIDAD = @ID_COMUNIDAD
					) CB
				LEFT JOIN (
					SELECT ID_CUENTA_BANCARIA, ID_COMUNIDAD, CUENTA, FORMAT(IMPT_SALDO, 'C', @CVE_CULTURE) SALDOS, ID_TIPO_CUENTA
					FROM #SALDOS
					WHERE ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO				
					) D ON CB.ID_CUENTA_BANCARIA = D.ID_CUENTA_BANCARIA AND CB.ID_COMUNIDAD = D.ID_COMUNIDAD --AND CB.ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO	
				) D
			WHERE D.ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO	AND ID_MONEDA = @ID_MONEDA

			-- TOTAL BANCOS (RESULSET 3)
			SELECT @IMPT_SALDO_BANCOS = SUM(IMPT_SALDO)
			FROM #SALDOS
			WHERE ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO
			SELECT FORMAT(ISNULL(@IMPT_SALDO_BANCOS, 0.00), 'C', @CVE_CULTURE ) AS IMPT_SALDO_BANCOS

			-- SALDO EN CUENTAS PARA EL PERIODO ACTUAL
			SELECT @IMPT_SALDO_ACTUAL_CUENTAS = ISNULL(SUM(SALDO_FINAL)	,0)
			FROM DSALDOS S 			
				INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
				INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
				INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES
				INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
				INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
				INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
			WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO AND P.ID_MES = @ID_MES AND C.ID_MONEDA = @ID_MONEDA
				AND ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO	
		END

		 --ENTRADAS (RESULSET 4)
		SELECT DESC_RUBRO, FORMAT(IMPORTE, 'C', @CVE_CULTURE) AS IMPORTE
		FROM #ENTRADAS		

		--DATOS TOTALES  (RESULSET 5)
		SELECT @IMPT_ENTRADAS = SUM(IMPORTE)
		FROM #ENTRADAS
		SELECT FORMAT(ISNULL(@IMPT_ENTRADAS, 0.00), 'C', @CVE_CULTURE ) AS IMPT_ENTRADAS
		
		 --SALIDAS (RESULSET 6)
		SELECT DESC_RUBRO, FORMAT(IMPORTE, 'C', @CVE_CULTURE) AS IMPORTE
		FROM #SALIDAS		

		--DATOS TOTALES  (RESULSET 7)
		SELECT @IMPT_SALIDAS = SUM(IMPORTE)
		FROM #SALIDAS
		SELECT FORMAT(ISNULL(@IMPT_SALIDAS, 0.00), 'C', @CVE_CULTURE ) AS IMPT_SALIDAS
		
		PRINT '@IMPT_SALDO_BANCOS: ' + CAST(@IMPT_SALDO_BANCOS AS NVARCHAR)
		PRINT '@@IMPT_ENTRADAS: ' + CAST(@IMPT_ENTRADAS AS NVARCHAR)
		PRINT '@@IMPT_SALIDAS: ' + CAST(@IMPT_SALIDAS AS NVARCHAR)

		-- SALDO TOTAL
		SELECT FORMAT(ISNULL(@IMPT_SALDO_BANCOS, 0) + ISNULL(@IMPT_ENTRADAS, 0) - ISNULL(@IMPT_SALIDAS, 0), 'C', @CVE_CULTURE) AS IMPT_SALDO_TOTAL

		-- DETALLE DE CUENTAS ACTUALES
		IF @CVE_TIPO_MOVIMIENTO = 'E'
		BEGIN
			SELECT D.CUENTA, D.SALDOS
			FROM (
				SELECT CB.CUENTA, ISNULL(SALDOS , FORMAT(0.00, 'C', @CVE_CULTURE)) SALDOS, CB.ID_TIPO_CUENTA, CB.ID_MONEDA
				FROM (
					SELECT CB.ID_COMUNIDAD, CB.ID_CUENTA_BANCARIA, B.DESC_BANCO + ' - ' + RIGHT(CB.NUMERO_CUENTA,4) CUENTA, ID_TIPO_CUENTA, CB.ID_MONEDA
					FROM CCUENTA_BANCARIA CB INNER JOIN CBANCO B ON CB.ID_BANCO = B.ID_BANCO
					WHERE ID_COMUNIDAD = @ID_COMUNIDAD
					) CB
				LEFT JOIN (
					SELECT C.ID_CUENTA_BANCARIA, C.ID_COMUNIDAD, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) CUENTA, FORMAT(S.SALDO_FINAL, 'C', @CVE_CULTURE) SALDOS, ID_TIPO_CUENTA
					FROM DSALDOS S 			
						INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
						INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
						INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
						INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
						INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
						INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
					WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO AND P.ID_MES = @ID_MES AND C.ID_MONEDA = @ID_MONEDA
						AND ID_TIPO_CUENTA = @ID_TIPO_CUENTA_EFECTIVO					
					) D ON CB.ID_CUENTA_BANCARIA = D.ID_CUENTA_BANCARIA AND CB.ID_COMUNIDAD = D.ID_COMUNIDAD 
				) D
			WHERE D.ID_TIPO_CUENTA = @ID_TIPO_CUENTA_EFECTIVO	AND ID_MONEDA = @ID_MONEDA
			
		END
		ELSE
		BEGIN
			SELECT D.CUENTA, D.SALDOS
			FROM (
				SELECT CB.CUENTA, ISNULL(SALDOS , FORMAT(0.00, 'C', @CVE_CULTURE)) SALDOS, CB.ID_TIPO_CUENTA, CB.ID_MONEDA
				FROM (
					SELECT CB.ID_COMUNIDAD, CB.ID_CUENTA_BANCARIA, CB.ID_MONEDA, B.DESC_BANCO + ' - ' + RIGHT(CB.NUMERO_CUENTA,4) CUENTA, ID_TIPO_CUENTA
					FROM CCUENTA_BANCARIA CB INNER JOIN CBANCO B ON CB.ID_BANCO = B.ID_BANCO
					WHERE ID_COMUNIDAD = @ID_COMUNIDAD AND ID_MONEDA = @ID_MONEDA
					) CB
				LEFT JOIN (
					SELECT C.ID_CUENTA_BANCARIA, C.ID_COMUNIDAD, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) CUENTA, FORMAT(S.SALDO_FINAL, 'C', @CVE_CULTURE) SALDOS, ID_TIPO_CUENTA
					FROM DSALDOS S 			
						INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
						INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
						INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
						INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
						INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
						INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
					WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO AND P.ID_MES = @ID_MES AND C.ID_MONEDA = @ID_MONEDA
						AND ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO					
					) D ON CB.ID_CUENTA_BANCARIA = D.ID_CUENTA_BANCARIA AND CB.ID_COMUNIDAD = D.ID_COMUNIDAD --AND CB.ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO	
				) D
			WHERE D.ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO	AND ID_MONEDA = @ID_MONEDA
		END

		-- AHORA REGRESAMOS EL SALDO DEL PERIODO ACTUAL
		SELECT FORMAT(ISNULL(@IMPT_SALDO_ACTUAL_CUENTAS, 0.00), 'C', @CVE_CULTURE )AS IMPT_SALDO_ACTUAL_CUENTAS

		-- AHORA LAS DIFERENCIAS
		SET @IMPT_DIFERENCIA = @IMPT_SALDO_ACTUAL_CUENTAS - (ISNULL(@IMPT_SALDO_BANCOS, 0) + ISNULL(@IMPT_ENTRADAS, 0) - ISNULL(@IMPT_SALIDAS, 0))
		SELECT FORMAT(ISNULL(@IMPT_DIFERENCIA, 0.00), 'C', @CVE_CULTURE )AS IMPT_DIFERENCIA
		

	END
	ELSE
	BEGIN
		PRINT 'NO HAY DATOS'
		SELECT DESC_MENSAJE , CVE_TIPO_MSG 
		FROM VW_MENSAJES 
		WHERE ID_IDIOMA = @ID_IDIOMA AND ID_MENSAJE = -3
	END



END

