IF EXISTS (SELECT * FROM sys.objects 
                WHERE object_id = OBJECT_ID(N'[dbo].[SP_RPT_ANUAL_RESULTADO]') 
                  AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE SP_RPT_ANUAL_RESULTADO
END
GO
-- SP_RPT_ANUAL_RESULTADO 1, 'B', 1, 2019,  1, 1
CREATE PROCEDURE SP_RPT_ANUAL_RESULTADO (
	@ID_COMUNIDAD SMALLINT,	
	@CVE_TIPO_MOVIMIENTO NVARCHAR(1),
	@ID_MONEDA SMALLINT,
	@ANIO SMALLINT,
	@ID_IDIOMA TINYINT,
	@ID_USUARIO SMALLINT
)
--SELECT * FROM DMOVIMIENTO	 
AS
-- OBTIENE EL REPORTE DE ANUAL COMPARATIVO
BEGIN

	SET NOCOUNT ON;
	DECLARE @REGs_I INT, @REGs_E INT, @REGS_SDOs INT	
	DECLARE @IMPT_SALDO_BANCOS MONEY, @IMPT_ENTRADAS MONEY, @IMPT_SALIDAS MONEY
	DECLARE @CVE_CULTURE NVARCHAR(5)
	DECLARE @ID_TIPO_CUENTA_EFECTIVO SMALLINT

	-- SE OBTIENE EL ID PARAMETRIZADO COMO EL TIPO DE CUENTA PARA MANEJO DE EFECTIVO
	SELECT @ID_TIPO_CUENTA_EFECTIVO = CAST (VALOR_PARAMETRO AS SMALLINT ) FROM SPARAMETRO WHERE ID_PARAMETRO = 4


	--CREAMOS LA TABLA TEMPORAL DE SALDOS
	SELECT P.ID_MES, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) AS CUENTA, SUM(SALDO_FINAL) AS IMPT_SALDO, C.ID_TIPO_CUENTA
		INTO #SALDOS
	FROM DSALDOS S 			
		INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
		INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
		INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
		INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
		INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
		INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
	WHERE C.ID_COMUNIDAD IS NULL
	GROUP BY P.ID_MES, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4), C.ID_TIPO_CUENTA


	-- PRIMERAMENTE OBTENEMOS LA CULTURA PARA EL FORMATEO DE FECHAS Y MONEDAS
	SELECT @CVE_CULTURE = DBO.FNC_OBTEN_CULTURA(@ID_USUARIO)

	IF @CVE_TIPO_MOVIMIENTO = 'E'
	BEGIN

		-- SALDOS DE LA CUENTAS DE ESTA COMUNIDAD
		INSERT INTO #SALDOS
		SELECT P.ID_MES, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) AS CUENTA, SUM(SALDO_FINAL) AS IMPT_SALDO, C.ID_TIPO_CUENTA
			--INTO #SALDOS
		FROM DSALDOS S 			
			INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
			INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
			INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
			INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
			INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
			INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
		WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO --AND P.ID_MES = @ID_MES
			AND C.ID_MONEDA = @ID_MONEDA
			AND ID_TIPO_CUENTA = @ID_TIPO_CUENTA_EFECTIVO
		GROUP BY P.ID_MES, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4), C.ID_TIPO_CUENTA
		SET @REGS_SDOs = @@ROWCOUNT
	END 
	ELSE
	BEGIN
		INSERT INTO #SALDOS
		SELECT P.ID_MES, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) AS CUENTA, SUM(SALDO_FINAL) AS IMPT_SALDO, C.ID_TIPO_CUENTA
			--INTO #SALDOS
		FROM DSALDOS S 			
			INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
			INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
			INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
			INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
			INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
			INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
		WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO --AND P.ID_MES = @ID_MES
			AND C.ID_MONEDA = @ID_MONEDA
			AND ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO
		GROUP BY P.ID_MES, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4), C.ID_TIPO_CUENTA
		SET @REGS_SDOs = @@ROWCOUNT
	END


	-- DATOS PRINCIPALES EN UNA TABLA TEMPORAL
	-- ENTRADAS
	SELECT MES,  DESC_RUBRO, SUM(IMPORTE) AS IMPORTE
		INTO #ENTRADAS
	FROM VW_MOVIMIENTOS			
	WHERE  ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO --AND MES = @ID_MES  
		AND CVE_TIPO_RUBRO = 'I' AND CVE_TIPO_MOVIMIENTO= @CVE_TIPO_MOVIMIENTO AND ID_MONEDA = @ID_MONEDA
		AND ACTIVO = 1 AND ID_IDIOMA = @ID_IDIOMA
	GROUP BY MES, DESC_RUBRO
	SET @REGs_I = @@ROWCOUNT

	--SALIDAS
	SELECT MES, DESC_RUBRO, SUM(IMPORTE) AS IMPORTE
		INTO #SALIDAS
	FROM VW_MOVIMIENTOS			
	WHERE  ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO --AND MES = @ID_MES  
		AND CVE_TIPO_RUBRO = 'E' AND CVE_TIPO_MOVIMIENTO = @CVE_TIPO_MOVIMIENTO AND ID_MONEDA = @ID_MONEDA
		AND ACTIVO = 1 AND ID_IDIOMA = @ID_IDIOMA
	GROUP BY MES, DESC_RUBRO
	SET @REGs_E = @@ROWCOUNT

	PRINT '@REGs_E : ' + CAST (@REGs_E AS NVARCHAR)
	PRINT '@REGs_I : ' + CAST (@REGs_I AS NVARCHAR)
	PRINT '@REGS_SDOs : ' + CAST (@REGS_SDOs AS NVARCHAR)

	IF @REGs_E > 0 OR @REGs_I > 0 OR @REGS_SDOs > 0
	BEGIN
		-- DATOS CABECERA (RESULSET 0)
		SELECT (SELECT DESC_COMUNIDAD FROM CCOMUNIDAD WHERE ID_COMUNIDAD = @ID_COMUNIDAD) AS DESC_COMUNIDAD,
			(SELECT SIGLAS FROM VW_MONEDA WHERE ID_MONEDA = @ID_MONEDA AND ID_IDIOMA = @ID_IDIOMA) AS DESC_MONEDA,			
			DBO.FNC_OBTEN_FECHA_ACTUAL_TEXTO(@ID_IDIOMA, 1) AS FECHA_ACTUAL,
			@ANIO as ANIO,
			dbo.FNC_OBTEN_DESC_ETIQUETA_POR_CVE(@ID_IDIOMA, 130200, 'titReporte') AS TITULO_REPORTE

		-- ETIQUETAS  (RESULSET 1)
		SELECT CVE_ETIQUETA, DESCRIPCION 
		FROM VW_ETIQUETA
		WHERE ID_IDIOMA =  @ID_IDIOMA 
			AND ID_MODULO = 130200 
			AND CVE_ETIQUETA LIKE 'lblRpt%'

		-- NOMBRE DE MESES (RESULSET 2)
		SELECT ID_MES, LEFT(DESC_MES, 3) AS DESC_MES FROM VW_MES WHERE ID_IDIOMA = @ID_IDIOMA

		-- DATOS PRINCIPALES:		
		-- SALDOS BANCOS
		--SELECT * FROM #SALDOS

		SELECT CUENTA, [1] AS ENE, [2] AS FEB, [3] AS MAR, [4] AS ABR, [5] AS MAY, [6] AS JUN, [7] AS JUL, [8] AS AGO, [9] AS SEP, [10] OCT, [11] AS NOV, [12] AS DIC
			INTO #SALDOS_FINAL
		FROM   
		(SELECT IMPT_SALDO, ID_MES, CUENTA   
		FROM #SALDOS) S 
		PIVOT  
		(  
		SUM (IMPT_SALDO)  
		FOR ID_MES IN  
		( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12] )  --ID_MES
		) AS pvt  				
				
		 --ENTRADAS
		 --SELECT * FROM #ENTRADAS
		SELECT DESC_RUBRO, [1] AS ENE, [2] AS FEB, [3] AS MAR, [4] AS ABR, [5] AS MAY, [6] AS JUN, [7] AS JUL, [8] AS AGO, [9] AS SEP, [10] OCT, [11] AS NOV, [12] AS DIC
			INTO #ENTRADAS_FINAL
		FROM   
		(SELECT IMPORTE, MES, DESC_RUBRO 
		FROM #ENTRADAS) E 
		PIVOT  
		(  
		SUM (IMPORTE)  
		FOR MES IN  
		( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12] )  --MES
		) AS pvt  
		
		--MENSUAL ENTRADAS (RESULSET 3)
		SELECT DESC_RUBRO, FORMAT(ISNULL(ENE, 0), 'C', @CVE_CULTURE) AS ENE, FORMAT(ISNULL(FEB, 0), 'C', @CVE_CULTURE) AS FEB, FORMAT(ISNULL(MAR, 0), 'C', @CVE_CULTURE) AS MAR, 
			FORMAT(ISNULL(ABR, 0), 'C', @CVE_CULTURE) AS ABR, FORMAT(ISNULL(MAY, 0), 'C', @CVE_CULTURE) AS MAY, FORMAT(ISNULL(JUN, 0), 'C', @CVE_CULTURE) AS JUN, 
			FORMAT(ISNULL(JUL, 0), 'C', @CVE_CULTURE) AS JUL, FORMAT(ISNULL(AGO, 0), 'C', @CVE_CULTURE) AS AGO, FORMAT(ISNULL(SEP, 0), 'C', @CVE_CULTURE) AS SEP, 
			FORMAT(ISNULL(OCT, 0), 'C', @CVE_CULTURE) AS OCT,  FORMAT(ISNULL(NOV, 0), 'C', @CVE_CULTURE) AS NOV, FORMAT(ISNULL(DIC, 0), 'C', @CVE_CULTURE) AS DIC,
			FORMAT(
			ISNULL(ENE, 0) + ISNULL(FEB, 0) + ISNULL(MAR, 0) + ISNULL(ABR, 0) + ISNULL(MAY, 0) + ISNULL(JUN, 0) +
			ISNULL(JUL, 0) + ISNULL(AGO, 0) + ISNULL(SEP, 0) + ISNULL(OCT, 0) + ISNULL(NOV, 0) + ISNULL(DIC, 0) , 'C', @CVE_CULTURE) AS ACUM
		FROM #ENTRADAS_FINAL
		
		-- TOTAL ENTRADAS RESULSET(4)
		SELECT (SELECT DESCRIPCION 
			FROM VW_ETIQUETA
			WHERE ID_IDIOMA =  @ID_IDIOMA AND 
				ID_MODULO = 130200 
				AND CVE_ETIQUETA  = 'lblRptTotalEntradas'
			) AS ENTRADAS_TOTALES, FORMAT(ISNULL(SUM(ENE), 0), 'C', @CVE_CULTURE) AS ENE, FORMAT(ISNULL(SUM(FEB), 0), 'C', @CVE_CULTURE) AS FEB, 
			FORMAT(ISNULL(SUM(MAR), 0), 'C', @CVE_CULTURE) AS MAR, FORMAT(ISNULL(SUM(ABR), 0), 'C', @CVE_CULTURE) AS ABR, FORMAT(ISNULL(SUM(MAY), 0), 'C', @CVE_CULTURE) AS MAY, 
			FORMAT(ISNULL(SUM(JUN), 0), 'C', @CVE_CULTURE) AS JUN, FORMAT(ISNULL(SUM(JUL), 0), 'C', @CVE_CULTURE) AS JUL, FORMAT(ISNULL(SUM(AGO), 0), 'C', @CVE_CULTURE) AS AGO, 
			FORMAT(ISNULL(SUM(SEP), 0), 'C', @CVE_CULTURE) AS SEP, FORMAT(ISNULL(SUM(OCT), 0), 'C', @CVE_CULTURE) AS OCT, FORMAT(ISNULL(SUM(NOV), 0), 'C', @CVE_CULTURE) AS NOV, 
			FORMAT(ISNULL(SUM(DIC), 0), 'C', @CVE_CULTURE) AS DIC,
			FORMAT(
				ISNULL(SUM(ENE), 0) + ISNULL(SUM(FEB), 0) + ISNULL(SUM(MAR), 0) + ISNULL(SUM(ABR), 0) + ISNULL(SUM(MAY), 0) + ISNULL(SUM(JUN), 0) +
				ISNULL(SUM(JUL), 0) + ISNULL(SUM(AGO), 0) + ISNULL(SUM(SEP), 0) + ISNULL(SUM(OCT), 0) + ISNULL(SUM(NOV), 0) + ISNULL(SUM(DIC), 0), 'C', @CVE_CULTURE) AS ACUM
		FROM #ENTRADAS_FINAL
		
		 --SELECT * FROM #SALIDAS
		SELECT DESC_RUBRO, [1] AS ENE, [2] AS FEB, [3] AS MAR, [4] AS ABR, [5] AS MAY, [6] AS JUN, [7] AS JUL, [8] AS AGO, [9] AS SEP, [10] OCT, [11] AS NOV, [12] AS DIC
			INTO #SALIDAS_FINAL
		FROM   
		(SELECT IMPORTE, MES, DESC_RUBRO 
		FROM #SALIDAS) S 
		PIVOT  
		(  
		SUM (IMPORTE)  
		FOR MES IN  
		( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12] )  --MES
		) AS pvt  
		
		--MENSUAL SALIDAS (RESULSET 5)
		
		SELECT DESC_RUBRO, FORMAT(ISNULL(ENE, 0), 'C', @CVE_CULTURE) AS ENE, FORMAT(ISNULL(FEB, 0), 'C', @CVE_CULTURE) AS FEB, FORMAT(ISNULL(MAR, 0), 'C', @CVE_CULTURE) AS MAR, 
			FORMAT(ISNULL(ABR, 0), 'C', @CVE_CULTURE) AS ABR, FORMAT(ISNULL(MAY, 0), 'C', @CVE_CULTURE) AS MAY, FORMAT(ISNULL(JUN, 0), 'C', @CVE_CULTURE) AS JUN, 
			FORMAT(ISNULL(JUL, 0), 'C', @CVE_CULTURE) AS JUL, FORMAT(ISNULL(AGO, 0), 'C', @CVE_CULTURE) AS AGO, FORMAT(ISNULL(SEP, 0), 'C', @CVE_CULTURE) AS SEP, 
			FORMAT(ISNULL(OCT, 0), 'C', @CVE_CULTURE) AS OCT,  FORMAT(ISNULL(NOV, 0), 'C', @CVE_CULTURE) AS NOV, FORMAT(ISNULL(DIC, 0), 'C', @CVE_CULTURE) AS DIC,
			FORMAT(
			ISNULL(ENE, 0) + ISNULL(FEB, 0) + ISNULL(MAR, 0) + ISNULL(ABR, 0) + ISNULL(MAY, 0) + ISNULL(JUN, 0) +
			ISNULL(JUL, 0) + ISNULL(AGO, 0) + ISNULL(SEP, 0) + ISNULL(OCT, 0) + ISNULL(NOV, 0) + ISNULL(DIC, 0) , 'C', @CVE_CULTURE) AS ACUM
		FROM #SALIDAS_FINAL
		
		-- TOTAL SALIDAS RESULSET(6)
		SELECT 
			(SELECT DESCRIPCION 
			FROM VW_ETIQUETA
			WHERE ID_IDIOMA =  @ID_IDIOMA AND 
				ID_MODULO = 130200 
				AND CVE_ETIQUETA  = 'lblRptTotalSalidas'
			) 
		 AS ENTRADAS_TOTALES, FORMAT(ISNULL(SUM(ENE), 0), 'C', @CVE_CULTURE) AS ENE, FORMAT(ISNULL(SUM(FEB), 0), 'C', @CVE_CULTURE) AS FEB, 
			FORMAT(ISNULL(SUM(MAR), 0), 'C', @CVE_CULTURE) AS MAR, FORMAT(ISNULL(SUM(ABR), 0), 'C', @CVE_CULTURE) AS ABR, FORMAT(ISNULL(SUM(MAY), 0), 'C', @CVE_CULTURE) AS MAY, 
			FORMAT(ISNULL(SUM(JUN), 0), 'C', @CVE_CULTURE) AS JUN, FORMAT(ISNULL(SUM(JUL), 0), 'C', @CVE_CULTURE) AS JUL, FORMAT(ISNULL(SUM(AGO), 0), 'C', @CVE_CULTURE) AS AGO, 
			FORMAT(ISNULL(SUM(SEP), 0), 'C', @CVE_CULTURE) AS SEP, FORMAT(ISNULL(SUM(OCT), 0), 'C', @CVE_CULTURE) AS OCT, FORMAT(ISNULL(SUM(NOV), 0), 'C', @CVE_CULTURE) AS NOV, 
			FORMAT(ISNULL(SUM(DIC), 0), 'C', @CVE_CULTURE) AS DIC,
			FORMAT(
				ISNULL(SUM(ENE), 0) + ISNULL(SUM(FEB), 0) + ISNULL(SUM(MAR), 0) + ISNULL(SUM(ABR), 0) + ISNULL(SUM(MAY), 0) + ISNULL(SUM(JUN), 0) +
				ISNULL(SUM(JUL), 0) + ISNULL(SUM(AGO), 0) + ISNULL(SUM(SEP), 0) + ISNULL(SUM(OCT), 0) + ISNULL(SUM(NOV), 0) + ISNULL(SUM(DIC), 0), 'C', @CVE_CULTURE) AS ACUM
		FROM #SALIDAS_FINAL
		
		--BANCOS (RESULSET 7)				
		SELECT CUENTA, FORMAT(ISNULL(ENE, 0), 'C', @CVE_CULTURE) AS ENE, FORMAT(ISNULL(FEB, 0), 'C', @CVE_CULTURE) AS FEB, FORMAT(ISNULL(MAR, 0), 'C', @CVE_CULTURE) AS MAR, 
			FORMAT(ISNULL(ABR, 0), 'C', @CVE_CULTURE) AS ABR, FORMAT(ISNULL(MAY, 0), 'C', @CVE_CULTURE) AS MAY, FORMAT(ISNULL(JUN, 0), 'C', @CVE_CULTURE) AS JUN, 
			FORMAT(ISNULL(JUL, 0), 'C', @CVE_CULTURE) AS JUL, FORMAT(ISNULL(AGO, 0), 'C', @CVE_CULTURE) AS AGO, FORMAT(ISNULL(SEP, 0), 'C', @CVE_CULTURE) AS SEP, 
			FORMAT(ISNULL(OCT, 0), 'C', @CVE_CULTURE) AS OCT,  FORMAT(ISNULL(NOV, 0), 'C', @CVE_CULTURE) AS NOV, FORMAT(ISNULL(DIC, 0), 'C', @CVE_CULTURE) AS DIC,
			FORMAT(
			ISNULL(ENE, 0) + ISNULL(FEB, 0) + ISNULL(MAR, 0) + ISNULL(ABR, 0) + ISNULL(MAY, 0) + ISNULL(JUN, 0) +
			ISNULL(JUL, 0) + ISNULL(AGO, 0) + ISNULL(SEP, 0) + ISNULL(OCT, 0) + ISNULL(NOV, 0) + ISNULL(DIC, 0) , 'C', @CVE_CULTURE) AS ACUM
		FROM #SALDOS_FINAL

		-- TOTAL BANCOS RESULSET(8)		
		SELECT 
			(SELECT DESCRIPCION 
			FROM VW_ETIQUETA
			WHERE ID_IDIOMA =  @ID_IDIOMA AND 
				ID_MODULO = 130200 
				AND CVE_ETIQUETA  = 'lblRptSdoBancos'
			) AS  SALDOS_TOTALES, 
			FORMAT(ISNULL(SUM(ENE), 0), 'C', @CVE_CULTURE) AS ENE, FORMAT(ISNULL(SUM(FEB), 0), 'C', @CVE_CULTURE) AS FEB, 
			FORMAT(ISNULL(SUM(MAR), 0), 'C', @CVE_CULTURE) AS MAR, FORMAT(ISNULL(SUM(ABR), 0), 'C', @CVE_CULTURE) AS ABR, FORMAT(ISNULL(SUM(MAY), 0), 'C', @CVE_CULTURE) AS MAY, 
			FORMAT(ISNULL(SUM(JUN), 0), 'C', @CVE_CULTURE) AS JUN, FORMAT(ISNULL(SUM(JUL), 0), 'C', @CVE_CULTURE) AS JUL, FORMAT(ISNULL(SUM(AGO), 0), 'C', @CVE_CULTURE) AS AGO, 
			FORMAT(ISNULL(SUM(SEP), 0), 'C', @CVE_CULTURE) AS SEP, FORMAT(ISNULL(SUM(OCT), 0), 'C', @CVE_CULTURE) AS OCT, FORMAT(ISNULL(SUM(NOV), 0), 'C', @CVE_CULTURE) AS NOV, 
			FORMAT(ISNULL(SUM(DIC), 0), 'C', @CVE_CULTURE) AS DIC,
			FORMAT(
				ISNULL(SUM(ENE), 0) + ISNULL(SUM(FEB), 0) + ISNULL(SUM(MAR), 0) + ISNULL(SUM(ABR), 0) + ISNULL(SUM(MAY), 0) + ISNULL(SUM(JUN), 0) +
				ISNULL(SUM(JUL), 0) + ISNULL(SUM(AGO), 0) + ISNULL(SUM(SEP), 0) + ISNULL(SUM(OCT), 0) + ISNULL(SUM(NOV), 0) + ISNULL(SUM(DIC), 0), 'C', @CVE_CULTURE) AS ACUM
		FROM #SALDOS_FINAL

		
		--  TOTAL RESULSET(9)
		SELECT (SELECT DESCRIPCION 
			FROM VW_ETIQUETA
			WHERE ID_IDIOMA =  @ID_IDIOMA AND 
				ID_MODULO = 130200 
				AND CVE_ETIQUETA  = 'lblRptSaldoActual'
			)  AS SALDO_ACTUAL, FORMAT(ISNULL(SUM(ENE), 0), 'C', @CVE_CULTURE) AS ENE, FORMAT(ISNULL(SUM(FEB), 0), 'C', @CVE_CULTURE) AS FEB, 
			FORMAT(ISNULL(SUM(MAR), 0), 'C', @CVE_CULTURE) AS MAR, FORMAT(ISNULL(SUM(ABR), 0), 'C', @CVE_CULTURE) AS ABR, FORMAT(ISNULL(SUM(MAY), 0), 'C', @CVE_CULTURE) AS MAY, 
			FORMAT(ISNULL(SUM(JUN), 0), 'C', @CVE_CULTURE) AS JUN, FORMAT(ISNULL(SUM(JUL), 0), 'C', @CVE_CULTURE) AS JUL, FORMAT(ISNULL(SUM(AGO), 0), 'C', @CVE_CULTURE) AS AGO, 
			FORMAT(ISNULL(SUM(SEP), 0), 'C', @CVE_CULTURE) AS SEP, FORMAT(ISNULL(SUM(OCT), 0), 'C', @CVE_CULTURE) AS OCT, FORMAT(ISNULL(SUM(NOV), 0), 'C', @CVE_CULTURE) AS NOV, 
			FORMAT(ISNULL(SUM(DIC), 0), 'C', @CVE_CULTURE) AS DIC,
			FORMAT(
				ISNULL(SUM(ENE), 0) + ISNULL(SUM(FEB), 0) + ISNULL(SUM(MAR), 0) + ISNULL(SUM(ABR), 0) + ISNULL(SUM(MAY), 0) + ISNULL(SUM(JUN), 0) +
				ISNULL(SUM(JUL), 0) + ISNULL(SUM(AGO), 0) + ISNULL(SUM(SEP), 0) + ISNULL(SUM(OCT), 0) + ISNULL(SUM(NOV), 0) + ISNULL(SUM(DIC), 0), 'C', @CVE_CULTURE) AS ACUM
		FROM (
			SELECT ISNULL(SUM(ENE), 0) AS ENE, ISNULL(SUM(FEB), 0) AS FEB, ISNULL(SUM(MAR), 0) AS MAR, ISNULL(SUM(ABR), 0) AS ABR, ISNULL(SUM(MAY), 0) AS MAY, ISNULL(SUM(JUN), 0) AS JUN, 
				ISNULL(SUM(JUL), 0) AS JUL, ISNULL(SUM(AGO), 0) AS AGO, ISNULL(SUM(SEP), 0) AS SEP, ISNULL(SUM(OCT), 0) AS OCT, 
				ISNULL(SUM(NOV), 0) AS NOV, ISNULL(SUM(DIC), 0) AS DIC,
				ISNULL(SUM(ENE), 0) + ISNULL(SUM(FEB), 0) + ISNULL(SUM(MAR), 0) + ISNULL(SUM(ABR), 0) + ISNULL(SUM(MAY), 0) + ISNULL(SUM(JUN), 0) +
			ISNULL(SUM(JUL), 0) + ISNULL(SUM(AGO), 0) + ISNULL(SUM(SEP), 0) + ISNULL(SUM(OCT), 0) + ISNULL(SUM(NOV), 0) + ISNULL(SUM(DIC), 0) AS ACUM
			FROM #SALDOS_FINAL
			UNION 
			SELECT ISNULL(SUM(ENE), 0) AS ENE, ISNULL(SUM(FEB), 0) AS FEB, ISNULL(SUM(MAR), 0) AS MAR, ISNULL(SUM(ABR), 0) AS ABR, ISNULL(SUM(MAY), 0) AS MAY, ISNULL(SUM(JUN), 0) AS JUN, 
				ISNULL(SUM(JUL), 0) AS JUL, ISNULL(SUM(AGO), 0) AS AGO, ISNULL(SUM(SEP), 0) AS SEP, ISNULL(SUM(OCT), 0) AS OCT, 
				ISNULL(SUM(NOV), 0) AS NOV, ISNULL(SUM(DIC), 0) AS DIC,
				ISNULL(SUM(ENE), 0) + ISNULL(SUM(FEB), 0) + ISNULL(SUM(MAR), 0) + ISNULL(SUM(ABR), 0) + ISNULL(SUM(MAY), 0) + ISNULL(SUM(JUN), 0) +
			ISNULL(SUM(JUL), 0) + ISNULL(SUM(AGO), 0) + ISNULL(SUM(SEP), 0) + ISNULL(SUM(OCT), 0) + ISNULL(SUM(NOV), 0) + ISNULL(SUM(DIC), 0) AS ACUM
			FROM #ENTRADAS_FINAL
			UNION
			SELECT ISNULL(SUM(-ENE), 0) AS ENE, ISNULL(SUM(-FEB), 0) AS FEB, ISNULL(SUM(-MAR), 0) AS MAR, ISNULL(SUM(-ABR), 0) AS ABR, ISNULL(SUM(-MAY), 0) AS MAY, ISNULL(SUM(-JUN), 0) AS JUN, 
				ISNULL(SUM(-JUL), 0) AS JUL, ISNULL(SUM(-AGO), 0) AS AGO, -ISNULL(SUM(-SEP), 0) AS SEP, -ISNULL(SUM(-OCT), 0) AS OCT, 
				-ISNULL(SUM(-NOV), 0) AS NOV, ISNULL(SUM(-DIC), 0) AS DIC,
				ISNULL(SUM(-ENE), 0) + ISNULL(SUM(-FEB), 0) + ISNULL(SUM(-MAR), 0) + ISNULL(SUM(-ABR), 0) + ISNULL(SUM(-MAY), 0) + ISNULL(SUM(-JUN), 0) +
			ISNULL(SUM(-JUL), 0) + ISNULL(SUM(-AGO), 0) + ISNULL(SUM(-SEP), 0) + ISNULL(SUM(-OCT), 0) + ISNULL(SUM(-NOV), 0) + ISNULL(SUM(-DIC), 0) AS ACUM
			FROM #SALIDAS_FINAL
		) DATOS
		/*
		SELECT * FROM #SALDOS_FINAL
		SELECT * FROM #ENTRADAS_FINAL
		SELECT * FROM #SALIDAS_FINAL
		*/
		
	END
	ELSE
	BEGIN
		PRINT 'NO HAY DATOS'
		SELECT DESC_MENSAJE , CVE_TIPO_MSG 
		FROM VW_MENSAJES 
		WHERE ID_IDIOMA = @ID_IDIOMA AND ID_MENSAJE = -3
	END



END

