IF EXISTS (SELECT * FROM sys.objects 
                WHERE object_id = OBJECT_ID(N'[dbo].[SP_RPT_COMPARATIVO_RESULTADO]') 
                  AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE SP_RPT_COMPARATIVO_RESULTADO
END
GO
-- SP_RPT_COMPARATIVO_RESULTADO 1, 'B', 1, 2019, 1, 1, 125
CREATE PROCEDURE SP_RPT_COMPARATIVO_RESULTADO (
	@ID_COMUNIDAD SMALLINT,	
	@CVE_TIPO_MOVIMIENTO NVARCHAR(1),
	@ID_MONEDA SMALLINT,
	@ANIO SMALLINT,
	@ID_MES TINYINT,
	@ID_IDIOMA TINYINT,
	@ID_USUARIO SMALLINT
)
--SELECT * FROM DMOVIMIENTO	 
AS
-- OBTIENE EL REPORTE DE FLUJO MENSUAL
BEGIN

	SET NOCOUNT ON;
	DECLARE @REGs_I INT, @REGs_E INT, @REGS_SDOs INT
	DECLARE @REGs_I_ANT INT, @REGs_E_ANT INT, @REGS_SDOs_ANT INT
	DECLARE @CVE_CULTURE NVARCHAR(5)
	DECLARE @ID_TIPO_CUENTA_EFECTIVO SMALLINT
	DECLARE @ID_PAIS SMALLINT

	--OBTENEMOS EL PAIS PARA VER QUÉ CULTURA LE PONEMOS
	SELECT @ID_PAIS = DBO.FNC_OBTEN_ID_PAIS_POR_USUARIO(@ID_USUARIO)
	PRINT '@ID_PAIS : ' + CAST (@ID_PAIS AS NVARCHAR)



	-- SE OBTIENE EL ID PARAMETRIZADO COMO EL TIPO DE CUENTA PARA MANEJO DE EFECTIVO
	SELECT @ID_TIPO_CUENTA_EFECTIVO = CAST (VALOR_PARAMETRO AS SMALLINT ) FROM SPARAMETRO WHERE ID_PARAMETRO = 4


	-- PRIMERAMENTE OBTENEMOS LA CULTURA PARA EL FORMATEO DE FECHAS Y MONEDAS
	SELECT @CVE_CULTURE = DBO.FNC_OBTEN_CULTURA(@ID_USUARIO)		


	--CREAMOS LAS TABLAS TEMPORALES

	--SALDO ACTUAL
	SELECT B.ID_BANCO, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) AS CUENTA, SALDO_FINAL AS IMPT_SALDO, C.ID_TIPO_CUENTA
		INTO #SALDOS
	FROM DSALDOS S 			
		INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
		INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
		INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
		INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
		INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
		INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
	WHERE C.ID_COMUNIDAD IS NULL
	
	--SALDO ANTERIO
	SELECT B.ID_BANCO, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) AS CUENTA, SALDO_FINAL AS IMPT_SALDO
		INTO #SALDOS_ANTERIOR
	FROM DSALDOS S 			
		INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
		INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
		INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
		INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
		INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
		INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
	WHERE C.ID_COMUNIDAD IS NULL




	-- SALDOS DE LA CUENTAS DE ESTA COMUNIDAD DEL AÑO ACTUAL

	IF @CVE_TIPO_MOVIMIENTO = 'E'
	BEGIN
		-- SI EL TIPO DE MOVIMIEN
		INSERT INTO #SALDOS
		SELECT B.ID_BANCO, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) AS CUENTA, SALDO_FINAL AS IMPT_SALDO, C.ID_TIPO_CUENTA
			--INTO #SALDOS
		FROM DSALDOS S 			
			INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
			INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
			INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
			INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
			INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
			INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
		WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO AND P.ID_MES = @ID_MES
			AND C.ID_MONEDA = @ID_MONEDA
			AND ID_TIPO_CUENTA = @ID_TIPO_CUENTA_EFECTIVO
		SET @REGS_SDOs = @@ROWCOUNT

		-- SALDOS DE LA CUENTAS DE ESTA COMUNIDAD DEL AÑO ANTERIOR
		INSERT INTO #SALDOS_ANTERIOR
		SELECT B.ID_BANCO, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) AS CUENTA, SALDO_FINAL AS IMPT_SALDO
			--INTO #SALDOS_ANTERIOR
		FROM DSALDOS S 			
			INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
			INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
			INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
			INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
			INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
			INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
		WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO -1 AND P.ID_MES = @ID_MES
			AND C.ID_MONEDA = @ID_MONEDA
			AND ID_TIPO_CUENTA = @ID_TIPO_CUENTA_EFECTIVO
		SET @REGS_SDOs_ANT = @@ROWCOUNT
	END
	ELSE
	BEGIN
		-- SI EL TIPO DE MOVIMIEN
		INSERT INTO #SALDOS
		SELECT B.ID_BANCO, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) AS CUENTA, SALDO_FINAL AS IMPT_SALDO, C.ID_TIPO_CUENTA
			--INTO #SALDOS
		FROM DSALDOS S 			
			INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
			INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
			INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
			INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
			INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
			INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
		WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO AND P.ID_MES = @ID_MES
			AND C.ID_MONEDA = @ID_MONEDA
			AND ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO
		SET @REGS_SDOs = @@ROWCOUNT

		-- SALDOS DE LA CUENTAS DE ESTA COMUNIDAD DEL AÑO ANTERIOR
		INSERT INTO #SALDOS_ANTERIOR
		SELECT B.ID_BANCO, B.DESC_BANCO + ' - ' + RIGHT(C.NUMERO_CUENTA,4) AS CUENTA, SALDO_FINAL AS IMPT_SALDO
			--INTO #SALDOS_ANTERIOR
		FROM DSALDOS S 			
			INNER JOIN CCUENTA_BANCARIA C ON S.ID_CUENTA_BANCARIA = C.ID_CUENTA_BANCARIA
			INNER JOIN CCOMUNIDAD CO ON C.ID_COMUNIDAD = CO.ID_COMUNIDAD
			INNER JOIN CPERIODO P ON C.ID_COMUNIDAD = P.ID_COMUNIDAD AND S.ANIO = P.ANIO AND S.ID_MES = P.ID_MES --AND P.ESTATUS = 1
			INNER JOIN VW_MES M ON S.ID_MES = M.ID_MES AND M.ID_IDIOMA = @ID_IDIOMA		
			INNER JOIN CBANCO B ON C.ID_BANCO = B.ID_BANCO
			INNER JOIN VW_MONEDA MO ON C.ID_MONEDA = MO.ID_MONEDA AND MO.ID_IDIOMA = @ID_IDIOMA
		WHERE C.ID_COMUNIDAD = @ID_COMUNIDAD AND P.ANIO = @ANIO -1 AND P.ID_MES = @ID_MES
			AND C.ID_MONEDA = @ID_MONEDA
			AND ID_TIPO_CUENTA <> @ID_TIPO_CUENTA_EFECTIVO
		SET @REGS_SDOs_ANT = @@ROWCOUNT

	END

	-- DATOS PRINCIPALES EN UNA TABLA TEMPORAL
	-- ENTRADAS
	SELECT ID_RUBRO, DESC_RUBRO, SUM(IMPORTE) AS IMPORTE
		INTO #ENTRADAS
	FROM VW_MOVIMIENTOS			
	WHERE  ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO AND MES = @ID_MES  AND CVE_TIPO_RUBRO = 'I' AND CVE_TIPO_MOVIMIENTO= @CVE_TIPO_MOVIMIENTO AND ID_MONEDA = @ID_MONEDA
		AND ACTIVO = 1 AND ID_IDIOMA = @ID_IDIOMA
	GROUP BY ID_RUBRO, DESC_RUBRO
	SET @REGs_I = @@ROWCOUNT
	-- ENTRADAS ANTERIOR
	SELECT ID_RUBRO, DESC_RUBRO, SUM(IMPORTE) AS IMPORTE
		INTO #ENTRADAS_ANTERIOR
	FROM VW_MOVIMIENTOS			
	WHERE  ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO -1 AND MES = @ID_MES  AND CVE_TIPO_RUBRO = 'I' AND CVE_TIPO_MOVIMIENTO= @CVE_TIPO_MOVIMIENTO AND ID_MONEDA = @ID_MONEDA
		AND ACTIVO = 1 AND ID_IDIOMA = @ID_IDIOMA
	GROUP BY ID_RUBRO, DESC_RUBRO
	SET @REGs_I_ANT = @@ROWCOUNT

	--SALIDAS
	SELECT ID_RUBRO, DESC_RUBRO, SUM(IMPORTE) AS IMPORTE
		INTO #SALIDAS
	FROM VW_MOVIMIENTOS			
	WHERE  ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO AND MES = @ID_MES  AND CVE_TIPO_RUBRO = 'E' AND CVE_TIPO_MOVIMIENTO = @CVE_TIPO_MOVIMIENTO AND ID_MONEDA = @ID_MONEDA
		AND ACTIVO = 1 AND ID_IDIOMA = @ID_IDIOMA
	GROUP BY ID_RUBRO, DESC_RUBRO
	SET @REGs_E = @@ROWCOUNT
	--SALIDAS
	SELECT ID_RUBRO, DESC_RUBRO, SUM(IMPORTE) AS IMPORTE
		INTO #SALIDAS_ANTERIOR
	FROM VW_MOVIMIENTOS			
	WHERE  ID_COMUNIDAD = @ID_COMUNIDAD AND ANIO = @ANIO - 1 AND MES = @ID_MES  AND CVE_TIPO_RUBRO = 'E' AND CVE_TIPO_MOVIMIENTO = @CVE_TIPO_MOVIMIENTO AND ID_MONEDA = @ID_MONEDA
		AND ACTIVO = 1 AND ID_IDIOMA = @ID_IDIOMA
	GROUP BY ID_RUBRO, DESC_RUBRO
	SET @REGs_E_ANT = @@ROWCOUNT

	PRINT '@REGs_E : ' + CAST (@REGs_E AS NVARCHAR)
	PRINT '@REGs_I : ' + CAST (@REGs_I AS NVARCHAR)
	PRINT '@REGS_SDOs : ' + CAST (@REGS_SDOs AS NVARCHAR)
	PRINT '@REGs_E_ANT : ' + CAST (@REGs_E_ANT AS NVARCHAR)
	PRINT '@REGs_I_ANT : ' + CAST (@REGs_I_ANT AS NVARCHAR)
	PRINT '@REGS_SDOs_ANT : ' + CAST (@REGS_SDOs_ANT AS NVARCHAR)

	IF @REGs_E > 0 OR @REGs_I > 0 OR @REGS_SDOs > 0 OR @REGs_E_ANT > 0 OR @REGs_I_ANT > 0 OR @REGS_SDOs_ANT > 0
	BEGIN
		-- DATOS CABECERA
		SELECT (SELECT DESC_COMUNIDAD FROM CCOMUNIDAD WHERE ID_COMUNIDAD = @ID_COMUNIDAD) AS DESC_COMUNIDAD,
			(SELECT SIGLAS FROM VW_MONEDA WHERE ID_MONEDA = @ID_MONEDA AND ID_IDIOMA = @ID_IDIOMA) AS DESC_MONEDA,			
			DBO.FNC_OBTEN_FECHA_ACTUAL_TEXTO(@ID_IDIOMA, 1) AS FECHA_ACTUAL,
			@ANIO as ANIO,
			dbo.FNC_OBTEN_DESC_ETIQUETA_POR_CVE(@ID_IDIOMA, 130300, 'titReporte') AS TITULO_REPORTE

		SELECT CVE_ETIQUETA, DESCRIPCION 
		FROM VW_ETIQUETA
		WHERE ID_IDIOMA =  @ID_IDIOMA 
			AND ID_MODULO = 130300 
			AND CVE_ETIQUETA LIKE 'lblRpt%'

		-- DATOS PREVIOS DEL AÑO ACTUAL		
		SELECT ISNULL(S1.CUENTA, S2.CUENTA) AS CUENTA , ISNULL(S1.IMPT_SALDO, 0.00) AS IMPT_SALDO, 
			ISNULL(S2.CUENTA, S1.CUENTA) AS CUENTA_ANTERIOR, ISNULL(S2.IMPT_SALDO, 0.00) AS IMPT_SALDO_ANTERIOR
		INTO #SALDOS_FINAL
		FROM #SALDOS S1 
			FULL OUTER JOIN #SALDOS_ANTERIOR S2 ON S1.ID_BANCO = S2.ID_BANCO


		
		
		-- AHORA VAMOS CON LA INFORMACION DE LAS ENTRADAS
		SELECT ISNULL(E1.DESC_RUBRO, E2.DESC_RUBRO) AS DESC_RUBRO, ISNULL(E1.IMPORTE, 0.00) AS IMPORTE, 
				ISNULL(E2.DESC_RUBRO, E1.DESC_RUBRO) AS DESC_RUBRO_ANTERIOR, ISNULL(E2.IMPORTE, 0.00) AS IMPORTE_ANTERIOR
		INTO #ENTRADAS_FINAL
		FROM #ENTRADAS E1 
			FULL OUTER JOIN #ENTRADAS_ANTERIOR E2 ON E1.ID_RUBRO = E2.ID_RUBRO
		
		--ENTRADAS POR RUBRO RESULSET (2)
		SELECT DESC_RUBRO, FORMAT(IMPORTE, 'C', @CVE_CULTURE) AS IMPORTE, FORMAT(IMPORTE_ANTERIOR, 'C', @CVE_CULTURE) AS IMPORTE_ANTERIOR, FORMAT(IMPORTE - IMPORTE_ANTERIOR, 'C', @CVE_CULTURE) AS VARIACION, 
			CASE WHEN IMPORTE_ANTERIOR = 0 THEN FORMAT(1, 'P', @CVE_CULTURE) ELSE FORMAT(IMPORTE / IMPORTE_ANTERIOR, 'P', @CVE_CULTURE) END AS PORCENTAJE 
		FROM #ENTRADAS_FINAL
		--ENTRADAS TOTALES RESULSET (3)
		SELECT FORMAT(IMPORTE_TOTAL, 'C', @CVE_CULTURE) AS IMPORTE_TOTAL, FORMAT(IMPORTE_ANTERIOR_TOTAL, 'C', @CVE_CULTURE) AS IMPORTE_ANTERIOR_TOTAL, 
			FORMAT(IMPORTE_TOTAL - IMPORTE_ANTERIOR_TOTAL, 'C', @CVE_CULTURE) AS VARIACION, 
			CASE WHEN IMPORTE_ANTERIOR_TOTAL = 0 THEN FORMAT(1, 'P', @CVE_CULTURE) ELSE FORMAT(IMPORTE_TOTAL / IMPORTE_ANTERIOR_TOTAL, 'P', @CVE_CULTURE) END AS PORCENTAJE
		FROM (
			SELECT ISNULL(SUM(IMPORTE), 0)  AS IMPORTE_TOTAL, ISNULL(SUM(IMPORTE_ANTERIOR), 0) AS IMPORTE_ANTERIOR_TOTAL
			FROM #ENTRADAS_FINAL
			) D

		-- AHORA VAMOS CON LA INFORMACION DE LAS SALIDAS
		SELECT ISNULL(E1.DESC_RUBRO, E2.DESC_RUBRO) AS DESC_RUBRO, ISNULL(E1.IMPORTE, 0.00) AS IMPORTE, 
				ISNULL(E2.DESC_RUBRO, E1.DESC_RUBRO) AS DESC_RUBRO_ANTERIOR, ISNULL(E2.IMPORTE, 0.00) AS IMPORTE_ANTERIOR
		INTO #SALIDAS_FINAL
		FROM #SALIDAS E1 
			FULL OUTER JOIN #SALIDAS_ANTERIOR E2 ON E1.ID_RUBRO = E2.ID_RUBRO
		
		-- SALIDAS POR RUBRO RESULSET (4)
		SELECT DESC_RUBRO, FORMAT(IMPORTE, 'C', @CVE_CULTURE) AS IMPORTE, FORMAT(IMPORTE_ANTERIOR, 'C', @CVE_CULTURE) AS IMPORTE_ANTERIOR, 
			FORMAT(IMPORTE - IMPORTE_ANTERIOR, 'C', @CVE_CULTURE) AS VARIACION, 
			CASE WHEN IMPORTE_ANTERIOR = 0 THEN FORMAT(1, 'P', @CVE_CULTURE) ELSE FORMAT(IMPORTE / IMPORTE_ANTERIOR, 'C', @CVE_CULTURE) END AS PORCENTAJE 
		FROM #SALIDAS_FINAL
		-- SALIDAS TOTALES RESULSET (5)
		SELECT FORMAT(IMPORTE_TOTAL, 'C', @CVE_CULTURE) AS IMPORTE_TOTAL, FORMAT(IMPORTE_ANTERIOR_TOTAL, 'C', @CVE_CULTURE) AS IMPORTE_ANTERIOR_TOTAL, 
			FORMAT(IMPORTE_TOTAL - IMPORTE_ANTERIOR_TOTAL, 'C', @CVE_CULTURE) AS VARIACION, 
			CASE WHEN IMPORTE_ANTERIOR_TOTAL = 0 THEN FORMAT(100, 'C', @CVE_CULTURE) ELSE FORMAT(IMPORTE_TOTAL / IMPORTE_ANTERIOR_TOTAL, 'C', @CVE_CULTURE) END AS PORCENTAJE
		FROM (
			SELECT ISNULL(SUM(IMPORTE), 0)  AS IMPORTE_TOTAL, ISNULL(SUM(IMPORTE_ANTERIOR), 0) AS IMPORTE_ANTERIOR_TOTAL
			FROM #SALIDAS_FINAL
			) D


		--SALDOS EN BANCOS (RESULSET 6)
		SELECT CUENTA, FORMAT( IMPT_SALDO, 'C', @CVE_CULTURE) AS IMPT_SALDO, FORMAT(IMPT_SALDO_ANTERIOR, 'C', @CVE_CULTURE) AS IMPT_SALDO_ANTERIOR,  
			FORMAT(IMPT_SALDO - IMPT_SALDO_ANTERIOR, 'C', @CVE_CULTURE) AS VARIACION, 
			CASE WHEN IMPT_SALDO_ANTERIOR = 0 THEN FORMAT(1, 'P', @CVE_CULTURE) ELSE FORMat(IMPT_SALDO / IMPT_SALDO_ANTERIOR, 'P', @CVE_CULTURE) END AS PORCENTAJE 
		FROM #SALDOS_FINAL

		-- TOTAL BANCOS (RESULSET 7)
		SELECT  FORMAT(IMPT_SALDO_TOTAL, 'C', @CVE_CULTURE) AS IMPT_SALDO_TOTAL, FORMAT(IMPT_SALDO_ANTERIOR_TOTAL, 'C', @CVE_CULTURE) AS IMPT_SALDO_ANTERIOR_TOTAL, 
			FORMAT(IMPT_SALDO_TOTAL - IMPT_SALDO_ANTERIOR_TOTAL, 'C', @CVE_CULTURE) AS VARIACION, 
			CASE WHEN IMPT_SALDO_ANTERIOR_TOTAL = 0 THEN FORMAT(1, 'P', @CVE_CULTURE) ELSE FORMAT(IMPT_SALDO_TOTAL / IMPT_SALDO_ANTERIOR_TOTAL, 'P', @CVE_CULTURE) END  AS PORCENTAJE
		FROM (
			SELECT ISNULL(SUM(IMPT_SALDO), 0) AS IMPT_SALDO_TOTAL, ISNULL(SUM(IMPT_SALDO_ANTERIOR), 0) AS IMPT_SALDO_ANTERIOR_TOTAL
			FROM #SALDOS_FINAL
			) D

		-- SALDOS TOTALES RESULSET (8)		
		SELECT FORMAT(SUM(IMPORTE_TOTAL), 'C', @CVE_CULTURE) AS IMPORTE_TOTAL , FORMAT(SUM(IMPORTE_ANTERIOR_TOTAL), 'C', @CVE_CULTURE) AS IMPORTE_ANTERIOR_TOTAL, 
		
		FORMAT(SUM(IMPORTE_TOTAL) - SUM(IMPORTE_ANTERIOR_TOTAL), 'C', @CVE_CULTURE) AS VARIACION, 
		
			CASE WHEN SUM(IMPORTE_ANTERIOR_TOTAL) = 0 THEN FORMAT(1, 'P', @CVE_CULTURE) ELSE FORMAT(SUM(IMPORTE_TOTAL) / SUM(IMPORTE_ANTERIOR_TOTAL), 'P', @CVE_CULTURE) END AS PORCENTAJE
		FROM (
			SELECT ISNULL(SUM(IMPT_SALDO), 0) AS IMPORTE_TOTAL, ISNULL(SUM(IMPT_SALDO_ANTERIOR), 0) AS IMPORTE_ANTERIOR_TOTAL
			FROM #SALDOS_FINAL --SALDOS
			UNION
			SELECT ISNULL(SUM(IMPORTE), 0) AS IMPORTE_TOTAL, ISNULL(SUM(IMPORTE_ANTERIOR), 0) AS IMPORTE_ANTERIOR_TOTAL
			FROM #ENTRADAS_FINAL -- ENTRADAS
			UNION
			SELECT -(ISNULL(SUM(IMPORTE), 0)) AS IMPORTE_TOTAL, ISNULL(SUM(IMPORTE_ANTERIOR), 0) AS IMPORTE_ANTERIOR_TOTAL
			FROM #SALIDAS_FINAL -- SALIDAS
			) D

	END
	ELSE
	BEGIN
		PRINT 'NO HAY DATOS'
		SELECT DESC_MENSAJE , CVE_TIPO_MSG 
		FROM VW_MENSAJES 
		WHERE ID_IDIOMA = @ID_IDIOMA AND ID_MENSAJE = -3
	END



END

